@using ExampleCRUDwhitAjax.Resources
@{
    ViewData["Title"] = Global.Home;
}

<div class="container mt-5">
    <h1 class="text-center display-6">Welcome to our Server-Side Employe CRUD Operations example with ASP.NET Core 6, using DataTable and Ajax</h1>

    <div class="mt-10">
        <h1>Here are the points included:</h1>
        <ul class="fs-3">
            <li>Built-in ASP.NET Core 6</li>
            <li>Using Services for connecting with the database and controllers</li>
            <li>Using DataTable and Ajax</li>
            <li>Localization support for multiple languages, including Arabic and English by Resources files</li>
        </ul>
    </div>

    <div class="mt-5">
        <p class="fs-4">Happy coding! 😊🚀</p>
    </div>
</div>
